<ion-view view-title=Acknowledgement>
  <ion-content class="padding" align="justify">

    <div class="row">
      <img ng-src="img/banner.png"
           style="width:100%; height:50%;">
    </div>

    <h4>Funding</h4>
    <p>
      This application has been developed within the MyGEOSS project,
      which has received funding from the European Union’s Horizon 2020 research and innovation programme.
    </p>

    <h4>Disclaimer</h4>
    <p>
      The JRC, or as the case may be the European Commission,
      shall not be held liable for any direct or indirect, incidental, consequential or other damages,
      including but not limited to the loss of data, loss of profits,
      or any other financial loss arising from the use of this application,
      or inability to use it, even if the JRC is notified of the possibility of such damages.
    </p>

  </ion-content>
</ion-view>
