<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{activity.name}}">
  <ion-content>

    <!--
    <img ng-src="{{activity.face}}" style="width: 64px; height: 64px">
    <p>
      {{activity.subtitle}}
    </p>
    -->

    <ion-list>
      <ion-item class="item-icon-right item-text-wrap" ng-repeat="subActivity in activity.specific"
                type="item-text-wrap" ng-click="add(subActivity)">
        <h3>{{subActivity.name}}</h3>
        <h3><b>Met Value:</b> {{subActivity.metValue}}</h3>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
