<ion-view view-title=Contacts>
  <ion-content class="padding" align="justify">


    <div class="card">
      <div class="item item-text-wrap item-avatar">
        <img ng-src="img/fm.png">
        <p style="font-size:13px">
          Filippo Macaluso, PhD
          <br>
          Human Anatomy Assistant Professor.
          <br>
          eCampus University - Italy.
          <br>
          Euro-Mediterranean Institute of Science and Technology - Italy.
          <br>
          E-mail: fil.macaluso@gmail.com
        </p>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap item-avatar">
        <img ng-src="img/khm.png">
        <p style="font-size:13px">
          Kathryn Myburgh, PhD
          <br>
          Full Professor.
          <br>
          University of Stellenbosch - South Africa
          <br>
          Euro-Mediterranean Institute of Science and Technology - Italy.
          <br>
          E-mail: kathryn.myburgh@gmail.com
        </p>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap item-avatar">
        <img ng-src="img/glb.png">
        <p style="font-size:13px">
          Giosue' Lo Bosco, PhD
          <br>
          Computer Science Assistant Professor.
          <br>
          University of Palermo - Italy.
          <br>
          Euro-Mediterranean Institute of Science and Technology - Italy.
          <br>
          E-mail: giosue.lobosco@gmail.com
        </p>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap item-avatar">
        <img ng-src="img/mlr.png">
        <p style="font-size:13px">
          Maurizio La Rocca, BS
          <br>
          Computer Science Master's Student.
          <br>
          University of Palermo - Italy.
          <br>
          Euro-Mediterranean Institute of Science and Technology - Italy.
          <br>
          E-mail: mrz.larocca@gmail.com
        </p>
      </div>
    </div>




  </ion-content>
</ion-view>
