
<ion-view view-title=Informations>
  <ion-content class="padding" align="justify" delegate-handle="content">
    <section ng-controller="PageController">
        <h4>How to use eQUOS mobile app?</h4>
        <p>
          eQUOS (Environment QUality for Outdoor Sports) suggests to the final user whether to perform a specific <a ng-click="scrollToAnchorWithinCurrentPage('opa')">outdoor physical activity</a> in a specific geographical area on the basis of the air quality. In particular, eQUOS app considers and processes datasets providing near real-time data about: <a ng-click="scrollToAnchorWithinCurrentPage('no2')">Nitrogen dioxide</a>, <a ng-click="scrollToAnchorWithinCurrentPage('ch2o')">Formaldehyde</a> and <a ng-click="scrollToAnchorWithinCurrentPage('so2')">Sulphur dioxide</a>.
        </p>
        <p>
          The app uses the GPS sensor of the mobile device to provide the geographic coordinate as key to retrieve all the related indices in the database. Subsequently, eQUOS app integrates the air quality data with the <a ng-click="scrollToAnchorWithinCurrentPage('met')">Metabolic Equivalent Task</a> (MET) of the specific outdoor activity selected by the user, to suggest whether to perform the outdoor physical activity.
        </p>
        <p>
          The app indicates in green if that specific activity is suggested, in red if it is not suggested and in yellow if the air quality index is modest.
        </p>

        <section id="opa">
          <h4>Outdoor physical activity</h4>
          <p>
            Outdoor physical activities are classified in agreement with the Compendium of Physical Activities (2011) in ten major headings: Bicycling, Conditioning exercises, Dancing, Fishing and hunting, Lawn and garden, Running, Sports, walking, water activities, winter activities. More detailed information for each of the ten heading activities are provided to identify the most appropriate outdoor physical activity.
          </p>
        </section>

        <section id="no2">
          <h4>Nitrogen dioxide</h4>
          <p>
            Many chemical species of nitrogen oxides (NO<sub>x</sub>) exist, but the air pollutant species of most interest from the point of view of human health is nitrogen dioxide (NO<sub>2</sub>). On inhalation, 70–90% can be absorbed in the respiratory tract of humans, and exercise increases the total percentage absorbed. A significant portion of the inhaled nitrogen dioxide is removed in the nasopharynx; thus, as breathing becomes more oral with exercise, an increased delivery to the lower respiratory tract can be expected.
          </p>
        </section>

        <section id="ch2o">
          <h4>Formaldehyde</h4>
          <p>
            Under atmospheric conditions, formaldehyde (CH<sub>2</sub>O) is readily photo-oxidized in sunlight to carbon dioxide. Over 90% of inhaled formaldehyde gas is absorbed in the upper respiratory tract. Predominant signs of short-term exposure to formaldehyde in humans are irritation of the eyes, nose and throat, together with concentration-dependent discomfort, lachrymation, sneezing, coughing, nausea, dyspnoea and finally death.
          </p>
        </section>

        <section id="so2">
          <h4>Sulfur dioxide</h4>
          <p>
            Sulfur dioxide (SO<sub>2</sub>) and particulate matter derived from the combustion of fossil fuels have been the main components of air pollution in many parts of the world. Absorption of sulfur dioxide in the mucous membranes of the nose and upper respiratory tract occurs as a result of its solubility in aqueous media. Increased flow rates reduce the percentage of inspired sulfur dioxide absorbed in the nose and upper airways, and thus exercise promotes delivery to the smaller airways.
          </p>
        </section>

        <section id="met">
          <h4>Metabolic Equivalent of Task</h4>
          <p>
            One metabolic equivalent of task (MET) is defined as the amount of oxygen consumed while sitting at rest and is equal to 3.5 ml O<sub>2</sub> per kg body weight pre min (ml/kg/min). The MET concept represents a simple, practical, and easily understood procedure for expressing the energy cost of physical activities as a multiple of the resting metabolic rate.
          </p>
        </section>
    </section>
  </ion-content>
</ion-view>
