<ion-view view-title="Credits">
  <ion-content>

    <ion-list>

      <ion-item class="item-icon-right" href="#tab/credits/informations">
        <h2>Informations</h2>
        <i class="icon ion-arrow-right-b icon-right"></i>
      </ion-item>

      <ion-item class="item-icon-right" href="#tab/credits/acknowledgement">
        <h2>Acknowledgement</h2>
        <i class="icon ion-arrow-right-b icon-right"></i>
      </ion-item>

      <ion-item class="item-icon-right" href="#tab/credits/contact">
        <h2>Contacts</h2>
        <i class="icon ion-arrow-right-b icon-right"></i>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
