<ion-view view-title="Locations">
  <ion-content>

    <ion-list>
      <ion-item class="item item-thumbnail-left item-icon-right"
                ng-repeat="location in locations"
                ng-click="add(location)">

        <img ng-src="{{location.flag}}">
        <div class="myitem-text-center item-text-wrap">
        <h2>{{location.name}}</h2>
        </div>
        <i class="icon ion-arrow-right-b icon-right"></i>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
