<ion-view view-title="eQUOS">

  <ion-nav-buttons side="left">
    <button class="button icon-left ion-close-round" ng-click="reset()">
      Reset
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button icon-left ion-power" ng-click="quit()">
      Exit
    </button>
  </ion-nav-buttons>

  <ion-content class="" align="justify">

    <div class="card">
      <div class="item item-divider item-positive item-icon-right item-icon-left">
        <i class="icon ion-location icon-left"></i>
        Location
        <i class="icon ion-refresh icon-right" ng-click="acquirePosition()"></i>
      </div>

      <a class="item item-text-wrap"
          ng-click="goToLocations()"
          ng-show="currentLatitude && currentLongitude">
          <h3>
            <b>Place:</b> {{currentPlace}}
          </h3>
          <h3>
            <b>Latitude:</b> {{currentLatitude}} <b>Longitude:</b> {{currentLongitude}}
          </h3>
      </a>

      <div class="padding" style="text-align:center;"
           ng-show="!(currentLatitude && currentLongitude)">
       <div class="row">
         <div class="col">.
           <button class="button icon-right ion-location button-medium button-balanced"
                   ng-click="acquirePosition()">
             Acquire
           </button>
         </div>
         <div class="col">
           <button class="button icon-right ion-map button-medium button-balanced"
                   ng-click="goToLocations()">
             Choose
           </button>
         </div>
       </div>

      </div>
    </div>


    <div class="card">
      <div class="item item-divider item-positive item-icon-right item-icon-left">
        <i class="icon ion-star icon-left"></i>
        Activity
        <i class="icon ion-refresh icon-right" ng-click="goToActivities()"></i>
      </div>

      <div class="padding" style="text-align:center;"
        ng-show="!subactivity">
        <button class="button icon-right ion-star button-medium button-balanced"
                ng-click="goToActivities()">
          Choose
        </button>
      </div>

      <a class="item item-thumbnail-left item-text-wrap"
          ng-click="goToActivities()"
          ng-show="activity && subactivity">

        <img src="{{activity.face}}">
        <h2><b>{{activity.name}}</b></h2>
        <h3>{{subactivity.name}}</h3>
      </a>

      <div class="item" ng-show="activity && subactivity">

        <div class="item item-divider item-light item-icon-right item-icon-left">
            <h3 style="text-align:center;"><b>Intensity (MET)</b></h3>
          <i class="icon ion-information-circled icon-right" ng-click="metMessage()"></i>
        </div>
        <div class="item item-text-wrap">
          <div class="row" ng-show="activity && subactivity"
               ng-switch=subactivity.metCategory>
            <div ng-switch-default  class="col" style="text-align:center;"><h3>Light</h3></div>
            <div ng-switch-when=1  class="col" style="text-align:center;"><h3>Light</h3></div>
            <div ng-switch-when=2  class="col" style="text-align:center;"><h3>Light</h3></div>
            <div ng-switch-when=0  class="col" style="text-align:center; background-color:#ccddff;"><h3>Light</h3></div>

            <div ng-switch-default  class="col" style="text-align:center;"><h3>Moderate</h3></div>
            <div ng-switch-when=0   class="col" style="text-align:center;"><h3>Moderate</h3></div>
            <div ng-switch-when=2   class="col" style="text-align:center;"><h3>Moderate</h3></div>
            <div ng-switch-when=1  class="col" style="text-align:center; background-color:#b3ccff;"><h3>Moderate</h3></div>

            <div ng-switch-default  class="col" style="text-align:center;"><h3>Vigorous</h3></div>
            <div ng-switch-when=0   class="col" style="text-align:center;"><h3>Vigorous</h3></div>
            <div ng-switch-when=1   class="col" style="text-align:center;"><h3>Vigorous</h3></div>
            <div ng-switch-when=2  class="col" style="text-align:center; background-color:#6699ff;"><h3>Vigorous</h3></div>
          </div>
        </div>

      </div>

    </div>

    <div class="padding-horizontal">
      <button class="button button-full button-balanced"
              ng-disabled="!(currentLatitude && currentLongitude && activity && subactivity)"
              ng-click="submit()">
        Evaluate Air Quality
      </button>
    </div>

    <div class="card" ng-show="showAQcard">
      <div class="item item-divider item-positive item-icon-right item-icon-left">
        <i class="icon ion-earth icon-left"></i>
        Air Quality
        <i class="icon ion-information-circled icon-right" ng-click="aqiDetails()"></i>
      </div>
      <div class="item item-text-wrap">
        <div class="row" ng-switch=no2Quality>

          <div ng-switch-default  class="col" style="text-align:center; background-color:{{badColor}};">
            Bad
            <i class="icon ion-sad"></i>
          </div>
          <div ng-switch-default class="col" style="text-align:center; background-color:{{modestColor}};">
            Modest
            <i class="icon ion-sad-outline"></i>
          </div>
          <div ng-switch-default  class="col" style="text-align:center; background-color:{{goodColor}};">
            Good
            <i class="icon ion-happy-outline"></i>
          </div>
        </div>
      </div>

    </div>


    <div class="row">
      <img ng-src="img/banner.png"
           style="width:100%; height:50%;">
    </div>

  </ion-content>
</ion-view>
