<ion-view view-title="Activities">
  <ion-content>

    <ion-list>
      <ion-item class="item item-thumbnail-left item-icon-right" ng-repeat="activity in activities"
                href="#/tab/activities/{{activity.id}}" ng-click="add(activity)">
        <img ng-src="{{activity.face}}">

        <div class="myitem-text-center item-text-wrap">{{x.name}}
        <h2>{{activity.name}}</h2>
        </div>
        <i class="icon ion-arrow-right-b icon-right"></i>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
