<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-left tabs-background-light tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home"
           icon-off="ion-home" icon-on="ion-home"
           href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Locations Tab -->
  <ion-tab title="Locations"
           icon-off="ion-map" icon-on="ion-map"
           href="#/tab/locations">
    <ion-nav-view name="tab-locations"></ion-nav-view>
  </ion-tab>

  <!-- Activities Tab -->
  <ion-tab title="Activities"
           icon-off="ion-star" icon-on="ion-star"
           href="#/tab/activities">
    <ion-nav-view name="tab-activities"></ion-nav-view>
  </ion-tab>

  <!-- Credits Tab -->
  <ion-tab title="Credits"
           icon-off="ion-lightbulb" icon-on="ion-lightbulb"
           href="#/tab/credits">
    <ion-nav-view name="tab-credits"></ion-nav-view>
  </ion-tab>


</ion-tabs>
